name: Build Project

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write    

jobs:
    versionamento:
        runs-on: ubuntu-latest
        name: Versionamento

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                ref: ${{ github.head_ref }}
                fetch-depth: 0

            - uses: codacy/git-version@2.8.0
              id: version
              with:
                  release-branch: main
                  prefix: v      
        
            - name: Tag the repository
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  echo "::notice:: ${{ steps.version.outputs.version }}"
                  git config --global user.email "${{ github.actor }}@users.noreply.github.com"
                  git config --global user.name "${{ github.actor }}"
                  git tag -a ${{ steps.version.outputs.version }} -m "Release ${{ steps.version.outputs.version }}"
                  git push --tags
              if: github.ref == 'refs/heads/main'

    backend-build-and-test:
        needs: versionamento
        runs-on: ubuntu-latest
        name: Backend Build and Test

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up .NET Core
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '8.x'    
                  cache: true
                  cache-dependency-path: ./src/**/packages.lock.json  

            - name: Restore
              run: |
                dotnet restore ./src/Todo.Api.sln        

            - name: Build
              run: |
                dotnet build --no-restore -p:Configuration=Release ./src/Todo.Api.sln  
            
            - name: Test
              run: |
                dotnet test ./src/Todo.Api.sln --no-restore --no-build -p:Configuration=Release --logger trx --results-directory "TestResults"   
          
            - uses: actions/upload-artifact@v4
              with:
                name: dotnet-test-results
                path: TestResults   

    backend-lint:
        needs: versionamento
        runs-on: ubuntu-latest
        name: Backend lint

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                depth: 0

            - uses: github/super-linter@v6
              env:
                DEFAULT_BRANCH: "main"
                VALIDATE_ALL_CODEBASE: "false"
                VALIDATE_YAML: "true"
                VALIDATE_CSHARP: "true"
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                

    frontend-build-and-test:
      needs: versionamento
      runs-on: ubuntu-latest
      name: Frontend Build and Test
      defaults:
        run:
          working-directory: ./src/web

      steps:
          - name: Checkout code
            uses: actions/checkout@v4
          
          - name: Set up Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'    
                cache: npm
                cache-dependency-path: ./src/web

          - name: Install Dependencies
            working-directory: ./src/web
            run: |
              npm ci

          - name: Test
            working-directory: ./src/web
            run: |
              npm run lint         
                
          - name: Build
            working-directory: ./src/web
            run: |
              npm run build    

    frontend-lint:
      needs: versionamento
      runs-on: ubuntu-latest
      name: Frontend lint
      defaults:
        run:
          working-directory: ./src/web

      steps:
          - name: Checkout code
            uses: actions/checkout@v4
          
          - name: Set up Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'    
                cache: npm
                cache-dependency-path: ./src/web

          - name: Install Dependencies
            run: |
              npm ci

          - name: Test
            run: |
              npm run lint        

    dependency-check:
      needs: versionamento
      runs-on: ubuntu-latest
      steps:

        - uses: actions/checkout@v4
        - uses: actions/dependency-review-action@v4 


