name: Build Project

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
    versionamento:
        runs-on: ubuntu-latest
        name: Versionamento

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                ref: ${{ github.head_ref }}
                fetch-depth: 0

            - uses: codacy/git-version@2.8.0    
              id: version
              with:
                release-branch: main
                prefix: v

            - name: Tag do repositorio
              env:
                GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
              run: |
                echo "::notice:: ${{ steps.version.outputs.versionamento }}"
                git config --global user.mail "${{ github.actor }}@users.github.com"
                git config --global user.name "${{ github.actor }}"
                git tag -a ${{ steps.version.outputs.versionamento }} -m "Release ${{ steps.version.outputs.versionamento }}"
                git push --tags
              if: github.ref  == '/refs/heads/main'  
    build:
        runs-on: ubuntu-latest
        name: Build Project

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up .NET Core
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '8.x'    
                  cache: true
                  cache-dependency-path: ./src/**/packages.lock.json
            - name: Build
              run: |
                dotnet restore ./src/Todo.Api.sln        
                dotnet build --no-restore ./src/Todo.Api.sln  
                dotnet test ./src/Todo.Api.sln --no-restore --no-build --logger trx --results-directory "TestResults"   
                
            - uses: actions/upload-artifact@v4
              with:
                name: dotnet-test-results
                path: TestResults   

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'    
                  cache: npm
                  cache-dependency-path: ./src/web
            - name: Install Dependencies
              working-directory: ./src/web
              run: |
                npm install
                npm run build